body{
    background-color: yellowgreen;
}

@media (max-width:768px)
{
    body{
        background-color: aquamarine;
    }
}
@media (min-width:768px) and (max-width:1024px)
{
    body{
        background-color: beige;
    }
}