
/*tr[class^="SCHOLARSHIP"] 
{        
   background: yellow;  
}
*/
tr:nth-of-type(even)
{
    background-color: yellow;
}

tr:nth-of-type(odd)
{
    background-color: teal;
}

tr:first-of-type
{
   background-color: aqua;
   font-size: larger;
}

tr:nth-child(2)
{
    background-color: orange;
    font-style: italic;
}
